<header class="header">
  <div class="container">
    <div class="header-top d-flex">
      <div class="logo mr-auto">
        <h1>
            <a href="">
              <img src="assets/images/logo-icon.png" alt="">
              education
            </a>
          </h1>      
        </div>
        <div class="social-share">
          <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
    </div>
    
    <div class="header-menu">
        <ul class="nav justify-content-center">
          <li>
            <a class="nav-link" routerLink= "/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li>
            <a class="nav-link" routerLink= "/about" routerLinkActive="active">About</a>
          </li>
          <li>
            <a class="nav-link" routerLink= "/blog" routerLinkActive="active">Blog</a>
          </li>
          <li>
            <a class="nav-link" routerLink= "/gallery" routerLinkActive="active">Gallery</a>
          </li>
          <li>
            <a class="nav-link" routerLink= "/contacts" routerLinkActive="active">Contacts</a>
          </li>
        </ul>
    </div>
  </div>
</header>
