<!-- ABOUT
================================================== -->
<section class="about sec-lg">
  <div class="container">
    <h2 class="sec-heading">About education</h2>
    <div class="about-main-banner">
      <img src="assets/images/about/about-img.jpg" alt="">
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="about-content">
          <p>Education is of great importance for every single person. It goes without saying that it has a positive effect on everyone individually and the entire nations. It doesn’t matter when you begin studying. Everyone from the kindergarten to the adult age can start gaining new knowledge and skills in any possible field. Also, you can have a lot of fun when learning. For instance, you can study foreign languages while listening to songs or simply watching television. Studies show that interactive learning is more effective than just sitting in a classroom and reading a book.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="about-content">
          <p>Educated people get more civilized.  A man with the knowledge that covers different fields is more communicative and can find the common language with new acquaintances much faster. What’s more, the areas where residents can gain proper education, become more prosperous. It’s no secret that everything is interconnected in this world. The nation’s economical success is heavily dependent on the educational attainment of its citizens. Scientists develop gadgets and equipment that results in the high level of technological success.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="about-content">
          <p>Today, we are free to decide on where to study on our own. There are so many international and exchange programs offering foreign students to study in a different country. By living abroad for a year or two (depending on the program that one has chosen) a person can learn the culture of a different nation and assimilate. Thus, young specialists can find job in the country where they study and share their knowledge with international colleagues.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- /about -->

<!-- CHOOSE US
================================================== -->
<section class="choose-us bg-dark-gray sec-lg">
  <div class="container">
    <h2 class="sec-heading">Why choose us</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="choose-us-inner">
          <div class="choose-us-inner-image">
            <img src="assets/images/about/choose-us-img01.jpg" alt="">
          </div>
          <div class="choose-us-inner-content">
            <h4>
              <a href="">Pre-college education</a>
            </h4>
            <p>Broaden the creative horizons of your kids</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="choose-us-inner">
          <div class="choose-us-inner-image">
            <img src="assets/images/about/choose-us-img02.jpg" alt="">
          </div>
          <div class="choose-us-inner-content">
            <h4>
              <a href="">Middle school</a>
            </h4>
            <p>Children will deepen the knowledge and skills they obtained in the elementary school</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="choose-us-inner">
          <div class="choose-us-inner-image">
            <img src="assets/images/about/choose-us-img03.jpg" alt="">
          </div>
          <div class="choose-us-inner-content">
            <h4>
              <a href="">High school</a>
            </h4>
            <p>Preparing youngsters for the adult life</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="choose-us-inner">
          <div class="choose-us-inner-image">
            <img src="assets/images/about/choose-us-img04.jpg" alt="">
          </div>
          <div class="choose-us-inner-content">
            <h4>
              <a href="">International exchange</a>
            </h4>
            <p>Accepting students from abroad</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="choose-us-inner">
          <div class="choose-us-inner-image">
            <img src="assets/images/about/choose-us-img05.jpg" alt="">
          </div>
          <div class="choose-us-inner-content">
            <h4>
              <a href="">Middle school</a>
            </h4>
            <p>Children will deepen the knowledge and skills they obtained in the elementary school</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="choose-us-inner">
          <div class="choose-us-inner-image">
            <img src="assets/images/about/choose-us-img06.jpg" alt="">
          </div>
          <div class="choose-us-inner-content">
            <h4>
              <a href="">High school</a>
            </h4>
            <p>Preparing youngsters for the adult life</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- /choose us -->

<!-- OUR-BLOCK
================================================== -->
<section class="parallax-bg our-sec sec-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="our-block-inner">
          <div class="our-block-inner-image">
            <img src="assets/images/about/our-mission.jpg" alt="">
          </div>
          <div class="our-block-inner-content">
            <h4>
              <a href="">Our mission</a>
            </h4>
            <p>We transform students, schools, and communities through professional preparation, collaborative partnerships, and the translation of research into action.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="our-block-inner">
          <div class="our-block-inner-image">
            <img src="assets/images/about/our-vision.jpg" alt="">
          </div>
          <div class="our-block-inner-content">
            <h4>
              <a href="">Our vision</a>
            </h4>
            <p>We strive for being a model of excellence for solving complex educational problems through innovative and participatory teaching, scholarship, and community engagement.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="our-block-inner">
          <div class="our-block-inner-image">
            <img src="assets/images/about/our-value.jpg" alt="">
          </div>
          <div class="our-block-inner-content">
            <h4>
              <a href="">Our values</a>
            </h4>
            <p>We are dedicated to helping you achieve your goals using our flexible programs tailored to suit individual needs.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- /our-block -->
