<!-- CONTACTS
================================================== -->
<section class="contacts sec-lg">
    <div class="container">
      <div class="contact-body-header">
        <h2 class="sec-heading sec-heading_dark">Contact Information</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="contact-us-info">
              <img src="assets/images/home-icon.png" alt="">
              <p>47-10-13, 4th Floor, Rednam Plaza, <span class="d-block">Dwarakanagar Lane 2, Visakhapatnam.</span></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="contact-us-info">
              <img src="assets/images/mobile-icon.png" alt="">
              <p><a href="tel:19999999999">+1 9999999999</a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="contact-us-info">
              <img src="assets/images/mail-icon.png" alt="">
              <p><a href="mailto:education@info.com">education@info.com</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-body-footer">
        <h2 class="sec-heading sec-heading_dark">Contact Us</h2>
        <form action="">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name:*">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email:*">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone:">
              </div>
            </div>
            <div class="col-12">
              <textarea name="" id="" rows="8" class="form-control" placeholder="Message:*"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
</section><!-- /contacts -->
