<!-- BLOG
================================================== -->
<section class="blog-midwrap sec-lg">
  <div class="container">
    <div class="blog-main">
      <div class="blog-main-image">
        <img src="assets/images/blog/our-mission.jpg" alt="">
      </div>
      <div class="blog-main-content">
        <h3>Our mission</h3>
        <p>We transform students, schools, and communities through professional preparation, collaborative partnerships, and the translation of research into action.</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>
    <div class="blog-main">
      <div class="blog-main-image">
        <img src="assets/images/blog/our-vision.jpg" alt="">
      </div>
      <div class="blog-main-content">
        <h3>Our vision</h3>
        <p>We strive for being a model of excellence for solving complex educational problems through innovative and participatory teaching, scholarship, and community engagement.</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>
    <div class="blog-main">
      <div class="blog-main-image">
        <img src="assets/images/blog/our-value.jpg" alt="">
      </div>
      <div class="blog-main-content">
        <h3>Our values</h3>
        <p>We are dedicated to helping you achieve your goals using our flexible programs tailored to suit individual needs.</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>
    <div class="blog-main">
      <div class="blog-main-image">
        <img src="assets/images/blog/pre-education.jpg" alt="">
      </div>
      <div class="blog-main-content">
        <h3>Pre-college education</h3>
        <p>Broaden the creative horizons of your kids.</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>
    <div class="blog-main">
      <div class="blog-main-image">
        <img src="assets/images/blog/pre-education.jpg" alt="">
      </div>
      <div class="blog-main-content">
        <h3>middle school</h3>
        <p>Children will deepen the knowledge and skills they obtained in the elementary school.</p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>
  </div>
</section><!-- /blog -->
